.map-container{
    height: 100%;
    width: 100%;
}

.message{
    opacity: 0.8;
    .fooditems{
        margin-top: -18px;
        color: #333333;
    }
    .location{
        margin-top: -12px;
        color: #333333;
    }
}